@model DTVSystem.ViewModels.SAM0010ViewModel

@{
    ViewData["Title"] = "SAM0010";
}

@*
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>*@

<hi>Index</hi>

<button class="btn btn-success text-white" onclick="ShowPopup('test');">ShowPopup</button>
<button class="btn btn-success text-white" onclick="ShowError('Error title', 'show message');">Error</button>
<button class="btn btn-success text-white" onclick="ShowInfomation('Infomation title', 'show message');">Infomation</button>
<button class="btn btn-success text-white" onclick="ShowWarining('Warining title', 'show message');">Warining</button>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.CompanyModel.Company_ID)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.CompanyModel.Company_name)
            </th>
            <th>
                <a asp-action="SAM0011" class="btn btn-success text-white"><i class="fas fa-random"></i>New Company</a>

                
                <a onclick="onClickButton('@Url.Action("AjaxMethod","Sample")');" class="btn btn-success text-white"><i class="fas fa-random"></i>New Company</a>
                <button class="btn btn-success text-white" onclick="onClickButton1();">ShowPopup</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompanyModelList)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Company_ID)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Company_name)
                </th>
            </tr>
        }
    </tbody>
</table>


   
<script>
    $(document).ready(function () {
        
    });

    function getData() {
        alert("getData");
    }

    function onClickButton(url) {
        CallAjaxClick(url);
    }

    function onClickButton1() {
        
        ShowPopup('test');
    }

    CallAjaxClick1 = (url) => {
        alert("CallAjaxClick : " + url);
        $.ajax({
            type: "POST",
            url: url,
            success: function (res) {
                alert(res);
            }
        })
    }

    function GetMessage() {
        $.get("/Home/GetMessage", function (data) {
            $("p").html(data);
        });
    }
    
    $("#btnSave").click(function () {
        $.ajax({
            url: "@Url.Action("IsDistributedOrSendedEmailBeforeSave", "Sample")",
            type: 'POST',
            data: {
                paramCustomerCode: $("#ddlCustomer").val(),
                paramModelCode: $("#ddlModel").val(),
                paramPID: $("#PID").val(),
                paramSuffixM: suffixM
            },
            success: function (result) {
                if (result.status == true) {

                    $('#modalConfirm').modal('show');
                    $('#confirmMessage').text("Do you want to continue?");
                    $('#modal-btn-ok').click(function () {
                        $("#modal-btn-ok").unbind("click");
                        $("#modal-btn-cancel").unbind("click");
                        $('#modalConfirm').modal('hide');
                        $('#modalConfirm').removeClass('delete-modal');

                        EditPart(strChangeSuffix);
                    });
                    $('#modal-btn-cancel').click(function () {
                        $("#modal-btn-ok").unbind("click");
                        $("#modal-btn-cancel").unbind("click");
                        $('#modalConfirm').removeClass('delete-modal');
                    });
                }
                else {
                    EditPart(strChangeSuffix);
                }
            },
            failure: function (errMsg) {
                formUnload();
                $('#modal-error').modal('show');
                $('#modal-error .modal-title').text(errMsg);
            }, error: function (request, status, error) {
                formUnload();
                $('#modal-error').modal('show');
                $('#modal-error .modal-title').text(error);
            }
        });
    });
</script>