@using System.Data
@*@model DataSet*@


@model DTVSystem.ViewModels.PRA0010ViewModels

@{
    ViewData["Title"] = "ProductionResultAll";
}


@*<h1>Production Result (All assembly lines)</h1>*@

<h1></h1>


    <form method="post" enctype="multipart/form-data">    
        

      
        <label>Production Result (All assembly lines) : </label>
        <label>Mode</label>

       
        <select name="products" class="form-control" asp-items="@ViewBag.ProductionResultMode"></select>

         <label>Date</label>
             
    
    <div id="divData"></div>  
    <div class="form-group">
    <label  class="control-label">From</label>
    <input id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    <span  class="text-danger"></span>
    </div>

    <div id="divData"></div>  
    <div class="form-group">
    <label  class="control-label">To</label>
    <input id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    <span  class="text-danger"></span>
    </div>

     <label>Shift</label>

       
        <select name="Shift" class="form-control" asp-items="@ViewBag.Shift"></select>
@*
      <input type="submit" asp-action="Search" value="Search" />
      <input type="submit" asp-action="Clear" value="Clear" />*@

      @*  <asp:LinkButton ID="LinkButton1" runat="server" CssClass="btn btn-primary form-control" OnClick="LinkButton1_Click">
        <i class="glyphicon glyphicon-search"></i> SEARCH</asp:LinkButton>
        
        <asp:LinkButton ID="LinkButton2" runat="server" CssClass="btn btn-primary form-control" OnClick="LinkButton2_Click">
        <i class="glyphicon glyphicon-remove"></i> CLEAR</asp:LinkButton>*@

        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span> Search 
        </button>

       
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-remove"></span> Clear
        </button>
    
        <div id="UserList"></div>

   @*   <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Factory</th>
            <th>Factory1</th>           
        </tr>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["Subject"]</td>
                <td>@row["Line"]</td>                
            </tr>
        }
    </table>*@

    <table class="table">
    <thead>
        <tr>
         @foreach (var item in Model.GridHeader)
        {
            <th colspan = "@Html.DisplayFor(modelItem => item.Value)">
              @Html.DisplayFor(modelItem => item.Text)
            </th>
        }
       </tr>
    </thead>
    <tbody>
        
            
        @foreach (var item in Model.GBody)
        {
            <tr>
                    <th>
                    @Html.DisplayFor(modelItem => item.line)
                </th>

            </tr>
        }
        
    </tbody>
</table>


 }
   
     
    </form>  

    @section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>


}




