@using System.Data
@*@model DataSet*@


@model DTVSystem.ViewModels.PRA0010ViewModels

@{
    ViewData["Title"] = "ProductionResultAll";
}


<style>
    #DDlLine[disabled] {
        background-color: lightgrey;
    }

    .reqDDL{
        border-color : red;
    }

    .center {
        text-align: center;
        font-size:60px;
        color:white;
        margin-top: 10%;
        margin-left: 35%;
    }
</style>

<div class="">
    <div class="panel" id="fieldSearch" style="background-color:lightgray;">
        <div class="panel-body form-horizontal">
            <div class="row">
                <label class="col-md-3">Production Result (All assembly lines) :</label>
                <div class="col-md-2">
                    <label class="me-4">Mode</label>
                     <select id="ddlProductionResultMode" class="form-control" style="width:60%" asp-items="@Model.ddlProductionResultMode">
                        <option></option>
                    </select>
                </div>
                <div class="row col-md-2">
                    <label class="me-4">Date</label>
                    <label class="me-4">From</label>
                      <input id="datepickerFrom" type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </div>
                <div class="row col-md-2">
                    <label class="me-4">To</label>
                   <input id="datepickerTo" type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </div>
                <div class="row col-md-2">
                    <label class="me-4">Shift</label>
                    <select id="DDlShift" class="form-control" style="width:60%" asp-items="@Model.ddlShift">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="offset-5 mt-2">               
                <button class="btn btn-light col-md-1 me-2" onclick="ClickSearch()"><i class="fas fa-search" style="color:green;"></i> Search</button>
                <button class="btn btn-light col-md-1" onclick="ClickClear()"><i class="fas fa-times" style="color:red;"></i> Clear</button>
            </div>

        </div>
    </div>
</div>

 

    <table style="background-color:white; ">
    <thead>
        <tr>
         @foreach (var item in Model.GridHeader)
        {
            <th colspan = "@Html.DisplayFor(modelItem => item.Value)">
              @Html.DisplayFor(modelItem => item.Text)
            </th>
        }
       </tr>
    </thead>
    <tbody>
        
            
     @*   @foreach (var item in Model.GBody)
        {
            <tr>                  
                <th>                    
                   @Html.DisplayFor(modelItem => item.line)                                
                </th>

            </tr>
             
        }
      *@
       
          <tr>   
                    <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[0])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.line)
                {
                    <th>     
                      
                            @Html.DisplayFor(modelItem => item)                        
                      
                    </th> 
                }
          </tr>
          <tr>   
               <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[1])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.Plan)
                {

                <th width="100">     
                   
                        @Html.DisplayFor(modelItem => item)                        
                   
                    </th> 
                }
          </tr>
          <tr>   
               <th>     
                       
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[2])                  
                      
                    </th> 
                @foreach (var item in Model.GBody.Actual)
                {
                    <th>     
                       
                            @Html.DisplayFor(modelItem => item)                        
                      
                    </th> 
                }
          </tr>
           <tr>   
                <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[3])                  
                     
                    </th> 
                @foreach (var item in Model.GBody.Diff)
                {                                       
                   
                    <th> 
                     
                        @Html.DisplayFor(modelItem => item)
               

                    </th> 
                }
          </tr>
            <tr>   
                 <th>     
                       
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[4])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.ADiff)
                {
                    <th>     
                       
                            @Html.DisplayFor(modelItem => item)                        
                       
                    </th> 
                }
          </tr>
           <tr>   
                <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[5])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.LineOut)
                {
                    <th>     
                       @if(item > 0)
                    {
                        <span style="color:red;">@Html.DisplayFor(modelItem => item)</span>
                    }
                    else
                    {
                          @Html.DisplayFor(modelItem => item)                
                    }
                          
                       
                    </th> 
                }
          </tr>
           <tr>   
                <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[6])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.LineIn)
                {
                    <th>     
                       
                            @Html.DisplayFor(modelItem => item)                        
                      
                    </th> 
                }
          </tr>
           <tr>   
                <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[7])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.Throghput)
                {
                    <th>     
                        
                            @Html.DisplayFor(modelItem => item)                        
                       
                    </th> 
                }
          </tr>
           <tr>   
                <th>     
                      
                            @Html.DisplayFor(modelItem => Model.GBody.HeadColumn[8])                  
                       
                    </th> 
                @foreach (var item in Model.GBody.Progress)
                {
                    <th>     
                           @if(item <= 50)
                    {
                         <span style="color:red;">@Html.DisplayFor(modelItem => item)</span><span style="color:red;">%</span>
                    }
                    else
                    {
                         @Html.DisplayFor(modelItem => item)     
                         <span>%</span>
                    }
                                      
                       
                    </th> 
                }
          </tr>
       @*   <tr>                  
                <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[0])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[1])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[2])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[3])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[4])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[5])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[6])                                
                </th>
                  <th>                    
                   @Html.DisplayFor(modelItem => Model.GBody[0].Plan[7])                                
                </th>
          </tr>*@
           
        
    </tbody>
</table>


   
  @*   
    </form>  *@

    @section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });

        function checkInp(clvalue)
{
  
  if (isNaN(clvalue)) 
  {
    alert("Must input numbers");
    return false;
  }
}
    </script>


}




